@layer base {
	:root {
		--font-ABC-Display-Unlicensed-Variable: var(--font-ABC-Display-Unlicensed-Variable), 'Arial', 'Helvetica Neue', 'sans-serif';

		--s-sm: 1100px;
		--s-md: 1200px;
		--s-lg: 1800px;
		--s-max: 2000px;

		--s-contain: 16px;
		--s-contain-dynamic: max(var(--s-contain),
				calc((100vw - var(--s-max)) / 2));

		--width-sm: Min(100vw - calc(var(--s-contain) * 2), var(--s-sm));
		--width-md: Min(100vw - calc(var(--s-contain) * 2), var(--s-md));
		--width-lg: Min(100vw - calc(var(--s-contain) * 2), var(--s-lg));
		--width-max: Min(100vw - calc(var(--s-contain) * 2), var(--s-max));

		--padding-sm: calc((100vw - var(--width-sm)) / 2);
		--padding-md: calc((100vw - var(--width-md)) / 2);
		--padding-lg: calc((100vw - var(--width-lg)) / 2);
		--padding-max: calc((100vw - var(--width-max)) / 2);
		--h-header: 70px;
		--s-section: 70px;
		--s-section-half: calc(var(--s-section) / 2);

		--s-vp-height: 100vh;
		--s-vp-height: var(--s-vp-height-js);

		--z-overlay: 50;
		--z-dialog: calc(var(--z-overlay) + 1);
		--z-popover: 50;

		@supports (height: 100svh) {
			--s-vp-height: 100svh;
		}

		--h-main: calc(var(--s-vp-height) - var(--h-announcement, 0px));
	}

	@variant md {
		:root {}
	}

	html {
		@apply bg-black text-white;
		scroll-behavior: smooth;
		scroll-padding-top: calc(var(--h-announcement, 0px) + var(--h-header, 0px) + 20px);
	}

	html::selection {
		@apply text-cream bg-black [text-shadow:none];
	}

	html::-moz-selection {
		@apply text-cream bg-black [text-shadow:none];
	}

	/* Global disabled state */
	[disabled],
	[aria-disabled='true'] {
		@apply state-disabled;
	}

	/* Global focus-visible state */
	/*
	* TODO: Implement more robust focus management and an unify style
	*/
	@media (hover: hover) {
		* {
			outline-offset: 3px;
			outline-style: dashed;
			outline-color: transparent;
		}

		a:focus-visible,
		button:focus-visible,
		input:focus-visible,
		textarea:focus-visible,
		select:focus-visible {
			@apply state-focus-visible;
		}
	}
}