@layer components {

	.wysiwyg,
	.wysiwyg-page {
		>*:not(:last-child) {
			margin-bottom: 20px;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			&:not(:first-child) {
				margin-top: 36px;
			}

			a {
				text-decoration: underline;
			}
		}

		.btn,
		.btn-outline,
		.btn-underline {
			text-decoration: unset;

			&:not(:first-child) {
				margin-top: 20px;
			}
		}

		p,
		ol,
		ul {
			font: var(--t-b-2);

			a {
				text-decoration: underline;
			}
		}

		ul,
		ol {
			padding-left: 1em;

			li:not(:last-child) {
				margin-bottom: 0.4em;
			}

			ul,
			li {
				margin-top: 0.4em;
			}
		}

		ol {
			list-style-type: decimal;
		}

		ul {
			list-style-type: disc;
		}

		blockquote {
			margin: 30px auto;
			quotes: '\201C' '\201D' '\2018' '\2019';

			&,
			p {
				font: var(--t-h-2);
			}

			p {
				display: inline;
				margin: 0;
			}

			&:before {
				content: open-quote;
				display: inline;
			}

			&:after {
				content: close-quote;
				display: inline;
			}
		}

		table {
			width: 100%;
			font: var(--t-b-2);
			border-collapse: collapse;
			border-spacing: 0;

			th,
			td {
				font-weight: 400;
				text-align: left;
				padding: 5px;
				border: 1px solid var(--color-subtle);
			}

			th {
				background-color: var(--color-subtle);
			}

			p {
				font: inherit;
			}
		}
	}

	/** FONTS **/
	body {
		@apply antialiased -tracking-3;
	}

	p,
	ol,
	ul {
		@apply text-pretty;
	}

	/** FORM FIELDS **/
	input,
	select,
	textarea,
	progress {
		accent-color: var(--color-accent);
	}

	input[type='radio'],
	input[type='checkbox'] {
		display: inline-block;
		width: 16px;
		height: 16px;
		vertical-align: middle;
		border: 1px solid;
		cursor: pointer;
		transition: background 0.2s;

		~label {
			display: inline-block;
			padding-left: 0.5em;
			vertical-align: bottom;
			font: var(--t-b-2);
			line-height: 1;
			cursor: pointer;
		}

		&[type='radio'] {
			border-radius: 100%;

			&:checked {
				background-color: var(--color-accent);
				box-shadow: inset 0 0 0 2px var(--color-white);
			}
		}

		&[type='checkbox'] {
			background: center/80% no-repeat;

			&:checked {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800.01 586.81'%3E%3Cpath fill='%23000000' d='M796.74 87.51 300.72 583.53c-4.37 4.37-11.44 4.37-15.8 0L3.27 301.88c-4.36-4.35-4.36-11.42 0-15.79l68.44-68.44c4.37-4.36 11.44-4.36 15.8 0l205.32 205.31L712.51 3.27c4.38-4.36 11.43-4.36 15.8 0l68.43 68.44c4.37 4.36 4.37 11.42 0 15.8Z'/%3E%3C/svg%3E");
			}
		}
	}

	.field,
	.field-cols {
		--field-gap: 10px;
		--padding-h: 14px;

		@variant sm {
			--field-gap: 15px;
			--height: 45px;
			--line-height: 20px;
			--padding-h: 16px;
			--floating-label-focus-offset: 5px;
		}
	}

	input[type='text'],
	input[type='email'],
	input[type='tel'],
	input[type='url'],
	input[type='password'],
	input[type='number'],
	input[type='date'],
	input[type='datetime-local'],
	input[type='month'],
	input[type='week'],
	input[type='time'],
	input[type='search'],
	select,
	textarea {
		&::placeholder {
			color: var(--color-placeholder);
		}

		&::-webkit-input-placeholder {
			color: var(--color-placeholder);
		}

		&::-moz-placeholder {
			color: var(--color-placeholder);
		}

		&:-ms-input-placeholder {
			color: var(--color-placeholder);
		}

		.field & {
			height: var(--height);
			padding: calc((var(--height) - var(--line-height)) / 2) var(--padding-h);
			font: var(--t-b-2);
			line-height: var(--line-height);

			position: relative;
			display: block;
			width: 100%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			border: unset;
			outline-offset: 3px;
			outline-style: dashed;
			outline-color: transparent;
			color: inherit;
			border: 1px solid;
			transition: 0.2s;
		}

		.field.is-floating-label & {
			~label {
				height: var(--height);
				padding: calc((var(--height) - var(--line-height)) / 2) var(--padding-h);
				font: var(--t-b-2);
				line-height: var(--line-height);

				position: absolute;
				top: 0;
				left: 0;
				pointer-events: none;
				transition: 0.2s;
			}

			&:not(select):focus,
			&:placeholder-shown,
			&.is-contain-value {
				padding-top: calc((var(--height) - var(--line-height)) / 2 + var(--floating-label-focus-offset));
				padding-bottom: calc((var(--height) - var(--line-height)) / 2 - var(--floating-label-focus-offset));

				~label {
					top: var(--floating-label-focus-offset);
					padding-top: 0;
					padding-bottom: 0;
					line-height: 1;
					font-size: 11px;
					color: var(--color-gray);
				}
			}
		}
	}

	.field {
		position: relative;
		line-height: 1;

		&:not(:last-of-type) {
			margin-bottom: var(--field-gap);
		}

		label {
			display: block;
			font: var(--t-b-2);
			line-height: 1;

			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}

		select {
			padding-right: calc(var(--padding-h) + 8px + var(--padding-h));
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 5'%3E%3Cpath fill-rule='evenodd' d='m3,5L6,0H0l3,5'/%3E%3C/svg%3E") right var(--padding-h) center/8px no-repeat;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

		textarea {
			white-space: normal;
			min-height: var(--height);
			height: 200px;
			scroll-padding-block: 6px;
			resize: vertical;
		}
	}

	.field-cols {
		display: flex;
		flex-wrap: wrap;
		gap: var(--field-gap);

		.field {
			width: 100%;
			flex: unset;
		}

		&:not(:last-of-type) {
			margin-bottom: var(--field-gap);
		}

		@variant sm {
			.field {
				flex: 1;
				margin-bottom: 0;
			}
		}
	}
}