/* Typography */
@utility t-h-1 {
	font: var(--t-h-1);
	letter-spacing: -0.02em;
}

@utility t-h-2 {
	font: var(--t-h-2);
	letter-spacing: -0.02em;
}

@utility t-h-3 {
	font: var(--t-h-3);
}

@utility t-h-4 {
	font: var(--t-h-4);
	letter-spacing: -0.02em;
}

@utility t-h-5 {
	font: var(--t-h-5);
	letter-spacing: -0.02em;
}

@utility t-h-6 {
	font: var(--t-h-6);
	letter-spacing: -0.02em;
}

@utility t-h-7 {
	font: var(--t-h-7);
}

@utility t-h-8 {
	font: var(--t-h-8);
	letter-spacing: -0.02em;
}

@utility t-h-9 {
	font: var(--t-h-9);
}

@utility t-h-10 {
	font: var(--t-h-10);
}

@utility t-b-1 {
	font: var(--t-b-1);
	letter-spacing: -0.03em;
}

@utility t-b-2 {
	font: var(--t-b-2);
}

@utility t-b-3 {
	font: var(--t-b-3);
}

@utility t-b-4 {
	font: var(--t-b-4);
}

@utility t-b-5 {
	font: var(--t-b-5);
}

@utility t-b-6 {
	font: var(--t-b-6);
	letter-spacing: 0.08em;
}

@utility t-l-1 {
	font: var(--t-l-1);
}

@utility t-l-2 {
	font: var(--t-l-2);
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

@utility t-l-3 {
	font: var(--t-l-3);
	letter-spacing: 0.16em;
	text-transform: uppercase;
}

/* Layouts */
@utility pt-header-space-* {
	padding-top: calc(
		var(--h-header) + var(--h-announcement) + --value(number) * var(--spacing)
	);
	padding-top: calc(var(--h-header) + var(--h-announcement) + --value([*]));
}

@utility mt-header-space-* {
	margin-top: calc(
		var(--h-header) + var(--h-announcement) + --value(number) * var(--spacing)
	);
	margin-top: calc(var(--h-header) + var(--h-announcement) + --value([*]));
}

@utility top-header-space-* {
	top: calc(
		var(--h-header) + var(--h-announcement) + --value(number) * var(--spacing)
	);
	top: calc(var(--h-header) + var(--h-announcement) + --value([*]));
}

@utility p-x-sm {
	padding-inline: var(--padding-sm);
}

@utility p-x-md {
	padding-inline: var(--padding-md);
}

@utility p-x-lg {
	padding-inline: var(--padding-lg);
}

@utility p-x-max {
	padding-inline: var(--padding-max);
}

/* Position */
@utility p-fill {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
@utility p-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

/* Mischiefs */
@utility no-text-space {
	font-size: 0;
	line-height: 0;
}
@utility img-object-cover {
	--offset: 1px;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	overflow: hidden;
	user-select: none;

	> * {
		position: absolute;
		max-width: unset;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		-webkit-backface-visibility: hidden;
		width: calc(100% + var(--offset) * 4) !important;
		height: calc(100% + var(--offset) * 4) !important;
		object-fit: cover;
	}

	> picture {
		display: block;
		width: 100%;
		height: 100%;
	}
}

@utility img-object-contain {
	--offset: 1px;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	overflow: hidden;
	user-select: none;

	> * {
		position: absolute;
		max-width: unset;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		-webkit-backface-visibility: hidden;
		width: calc(100% + var(--offset) * 4) !important;
		height: calc(100% + var(--offset) * 4) !important;
		object-fit: contain;
	}

	> picture {
		display: block;
		width: 100%;
		height: 100%;
	}
}

@utility state-focus-visible {
	outline-offset: 3px !important;
	outline-style: dashed !important;
	outline-color: var(--color-accent) !important;
}

@utility state-disabled {
	cursor: not-allowed;
	opacity: 0.3;
}

@layer utilities {
	/* Icons */
	/* Base styles for pseudo-elements */
	[data-icon-type='close']::before,
	[data-icon-type='close']::after,
	[data-icon-type='plus']::before,
	[data-icon-type='plus']::after,
	[data-icon-type='minus']::before,
	[data-icon-type='minus']::after {
		content: '';
		@apply absolute top-1/2 left-1/2 w-full;
		border-top: var(--icon-thickness) solid var(--icon-color);
		transition: 0.2s var(--ease-sin-in-out);
	}

	[data-icon-type='close']::after,
	[data-icon-type='plus']::after,
	[data-icon-type='minus']::after {
		border-top: none;
		border-bottom: var(--icon-thickness) solid var(--icon-color);
	}

	/* Close icon */
	[data-icon-type='close']::before {
		transform: translate3d(-50%, -50%, 0) rotate(45deg);
	}

	[data-icon-type='close']::after {
		transform: translate3d(-50%, -50%, 0) rotate(-45deg);
	}

	/* Plus/Minus icons */
	[data-icon-type='plus']::before,
	[data-icon-type='minus']::before {
		transform: translate3d(-50%, -50%, 0) rotate(90deg);
	}

	[data-icon-type='plus']::after,
	[data-icon-type='minus']::after {
		transform: translate3d(-50%, -50%, 0);
	}

	[data-icon-type='minus']::before {
		display: none;
	}

	/* Caret icons */
	[data-icon-type='caret']::before,
	[data-icon-type='caret-left']::before,
	[data-icon-type='caret-right']::before,
	[data-icon-type='caret-up']::before,
	[data-icon-type='caret-down']::before {
		content: '';
		@apply absolute top-1/2 left-1/2 h-2/3 w-2/3;
		border-top: var(--icon-thickness) solid var(--icon-color);
		border-left: var(--icon-thickness) solid var(--icon-color);
		transform: translate3d(-50%, -50%, 0) rotate(45deg);
	}

	[data-icon-type='caret-left']::before {
		transform: translate3d(-35%, -50%, 0) rotate(315deg);
	}

	[data-icon-type='caret-right']::before {
		transform: translate3d(-85%, -50%, 0) rotate(135deg);
	}

	[data-icon-type='caret-up']::before {
		top: 60%;
		transform: translate3d(-50%, -50%, 0) rotate(45deg);
	}

	[data-icon-type='caret-down']::before {
		top: 40%;
		transform: translate3d(-50%, -50%, 0) rotate(225deg);
	}

	[data-icon-type*='arrow'] {
		position: relative;
	}

	/* Arrow icons */
	[data-icon-type='arrow']::before,
	[data-icon-type='arrow-left']::before,
	[data-icon-type='arrow-right']::before,
	[data-icon-type='arrow-up']::before,
	[data-icon-type='arrow-down']::before {
		content: '';
		@apply absolute top-1/2 left-1/2 size-[65%];
		border-top: var(--icon-thickness) solid var(--icon-color);
		border-left: var(--icon-thickness) solid var(--icon-color);
		border-radius: 0.5px;
		transform: translate3d(-50%, -50%, 0) rotate(45deg);
	}

	[data-icon-type='arrow']::after,
	[data-icon-type='arrow-left']::after,
	[data-icon-type='arrow-right']::after,
	[data-icon-type='arrow-up']::after,
	[data-icon-type='arrow-down']::after {
		content: '';
		@apply absolute top-1/2 left-1/2 w-[100%];
		border-top: var(--icon-thickness) solid var(--icon-color);
		border-radius: 3px;
		transform: translate3d(-50%, -50%, 0);
	}

	[data-icon-type='arrow-left']::before {
		left: 32%;
		transform: translate3d(-50%, -50%, 0) rotate(-45deg);
	}

	[data-icon-type='arrow-right']::before {
		left: 0%;
		rotate: 90deg;
	}

	[data-icon-type='arrow-up']::after,
	[data-icon-type='arrow-down']::after {
		transform: translate3d(-50%, -50%, 0) rotate(-90deg);
	}

	[data-icon-type='arrow-up']::before {
		top: 32%;
	}

	[data-icon-type='arrow-down']::before {
		top: 69%;
	}

	/* Other */
	.increase-target-size {
		--target-size: 5px;
		position: relative;
	}

	.increase-target-size::before {
		content: '';
		display: block;
		position: absolute;
		width: calc(100% + var(--target-size) * 2);
		height: calc(100% + var(--target-size) * 2);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.lazyloaded img[data-src],
	.lazyloaded img[loading='lazy'] {
		opacity: 1;
	}

	.custom-touch-manipulation {
		@media (hover: none) and (pointer: coarse) {
			touch-action: manipulation;
		}
	}

	img[data-src],
	img[loading='lazy'] {
		display: block;
		width: 100%;
		opacity: 0;
		transition: opacity 1s;

		&.lazyloaded {
			opacity: 1;
		}
	}
}
